@import '../../variables';

.login {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 50px 0 0 60px;
  background-color: $background-color;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: $highlight-color;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 100px;

    &__description {
      width: 255px;

      span {
        display: block;
      }

      &__title {
        font-size: 25px;
        color: $primary-text-color;
        margin-bottom: 20px;
        font-weight: 500;
      }

      &__subtitle {
        font-size: 14px;
        color: $primary-text-color;
      }
    }
  }

  .button {
    margin-top: 20px;
  }
}

.login-loading {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}
