$background-color: #2c2c2c;
$background-gradient: linear-gradient(0deg, #0f0c0c, #313131);
$background-color-playlist-info: #0c0909;
$search-bar-background-color: #1a1a1a;
$highlight-color: #18C657;
$button-text-color: #fff;
$primary-text-color: #efefef;
$secondary-text-color: #B3B3B3;
