@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #18C657;
}

::-webkit-scrollbar-track {
  background: #2C2C2C;
}
